* {
  overflow: hidden;
  transition: width 0.1s ease-in-out;
}

body {
  background-color: rgb(98, 98, 98);
}

button:hover {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-button {
  font-size: var(--font-size);
  border-radius: var(--button-radius);
  border: 1px solid var(--button-border-color);
  aspect-ratio: 1 / 1;
}

.base-button:hover {
  filter: brightness(90%);
}

.number-buttons {
  background-color: var(--number-button-bg-color);
  color: var(--number-text-color);
}

.ac-buttons {
  background-color: var(--ac-button-bg-color);
  color: var(--ac-text-color);
  font-weight: 500;
}

.regular-buttons {
  background-color: var(--regular-button-bg-color);
  color: var(--regular-text-color);
  font-weight: 500;
}

.advance-buttons {
  color: var(--advance-text-color);
  background-color: var(--advance-button-bg-color);
}

.equal-buttons {
  background-color: var(--equals-button-bg-color);
  color: var(--equals-text-color);
}

.transition-cover {
  background-color: #cfd3dc;
  border-radius: 5%;
}
