@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

* {
  font-family: Cyber, sans-serif !important;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #632b36, #000000);
}

button {
  &:hover {
    cursor: pointer;
  }
}

#app {
  width: 90%;
  min-width: 720px;
  height: 90%;
  color: var(--main-color-blue);
}
